<div class="modal-container panel panel-default">
	<div class="panel-body">
		<form name="form" class="form-horizontal css-form" novalidate>
			<div class="form-group col-sm-10 row" ng-bind="confirmAlertVM.text"></div>
			<div class="line line-dashed b-b line-lg"></div>
	    <div class="col-sm-10 row">
	      <button ng-hide="form.$submitted && form.$valid" type="submit" class="btn btn-primary" ng-click="confirmAlertVM.yes()">Yes</button>
	      <button class="btn btn-default" ng-click="confirmAlertVM.no()">No</button>
	    </div>
		</form>
	</div>
</div>